* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: black;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
}
.container {
  outline: 10px solid black;
  margin-top: 2rem;
  width: 40%;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 130px -15px #ffffff;
  z-index: 5;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image img {
  width: 100%;
  rotate: 90deg;
  border-radius: 50%;
}
h2 {
  font-size: 4.5rem;
  padding-bottom: 1rem;
}
#strings {
  position: absolute;
  top: 49%;
  left: 18%;
  height: 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#musicIconContainer {
  display: flex;
  position: absolute;
  gap: 1rem;
  top: -35%;
  left: 15%;
}
.musicNote {
  position: relative;
  filter: invert(1);
  width: 35px;
  top: -10%;
  display: none;
}
.musicNote:nth-child(odd) {
  top: 15px;
}
svg {
  width: 700px;
  height: 45x;
  rotate: -0.5deg;
}
